*{
    margin: 0;
    padding: 0;
    font-family: 'khand' ,sans-serif;
}
a{
    color: black;
}
.nav a{
    color: white;
}

.navbar{
    width: 100%;
    height: 96px;
    background-color: #000000;
    z-index: 2;
    font-size: 18px;
}
.navbar-brand img{
    margin-left: 2.3rem;
    margin-top: 2px;
}
.nav li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav img{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.9rem;
    margin-top: 0.2rem;
}
.image{
    margin-right: 2rem;
}
.carousel-item img{
    padding-top: 6rem;
}
.h1{
    margin-left: 13rem;
    padding: 3rem;
}
.col-md-4 img{
    width: 23.43rem;
    height: 17.18rem;
}
#last{
    background-color: #be9509;
}
#footer{
    background-color: black;
}
#last-footer{
    margin-left: 35px;
    padding-top: 20px;
}
#footer-logo{
    margin-top: 10px;
    margin-right: 10px;
}
#last-footer a:hover{
 color: #be9509;
}
.col-md-2 a{
 text-decoration: none;
 font-size: 18px;
 color: #be9509;
}
.col-md-2 h4{
    color: #be9509;
    font-weight: 1000;
    font-size: 23px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(141, 141, 141);
}
#the-last{
    height: 69px;
    background-color: black;
}
#lazza p{
    padding-top: 20px;
    padding-left: 20px;
}
.navbar-toggler-icon{
    color: white;
    border-color: white;
}
@media (max-width: 768) {
       
}

@media (max-width:750px)
{
    .logo{
        width:80px;
    }
}
.nav-itme{
    font-family: 'Times New Roman', Times, serif;
}
.nav-img{
    margin: 10px;
    width: 20px;
}
@media(max-width:992px){

    .nav-img{
        align-items: center;
    }
}